<div class="article">
  <div>
    <h3><%= article.title %></h3>
    <h4><%= article.author %> <small><%= article.date %></small></h4>
  </div>

  <% if article.image_url %>
    <div class="image">
        <img src="<%= article.image_url %>">
    </div>
  <% end %>

  <div class="content">
    <%= article.content %>
  </div>
</div>

<%= erb :comments, :locals => { :comments => comments } %>
