<div class="article">
  <div>
    <h2><%= article.title %></h2>
    <h3><%= article.author %> <small><%= article.date %></small></h3>
  </div>

  <% if article.image_url %>
    <div class="image">
        <img class="img-responsive" src="<%= article.image_url %>">
    </div>
  <% end %>

  <div class="content">
    <%= article.content %>
  </div>
</div>

<%= erb :comments, :locals => { :comments => comments } %>
