<ul class="nav nav-tabs">
  <li class="<%= published ? "" : "active"%>"><a href="<%= path %>?published=false">Unpublished</a></li>
  <li class="<%= published ? "active" : ""%>"><a href="<%= path %>?published=true">Published</a></li>
</ul>

<% articles.each do |article| %>
    <h4>
      <a href="/editor/articles/<%= article.id %>">
        <%= article.title %>
      </a> <small><%= article.author %></small></h4>
<% end %>
