<div class="page-header">
  <div class="article-controls pull-right">
    <%= erb :article_controls, :locals => { :id => article.id, :published => article.published? }%>
  </div>

  <h3><%= article.title %> <small><%= article.author %></small></h3>
</div>

<div class="article">
  <% if article.image_url %>
    <div class="image">
        <img class="img-responsive" src="<%= article.image_url %>">
    </div>
  <% end %>

  <div class="summary">
    <p>Summary: <%= article.summary %></p>
  </div>

  <div class="content">
    <%= article.content %>
  </div>
</div>
