<!DOCTYPE HTML>
<html>
  <head>
    <title><%= opts[:title] ? "#{opts[:title]} - The Tangent" : "The Tangent" %></title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= erb :ios_settings %>

    <link title="The Tangent" type="application/rss+xml" rel="alternate" href="http://<%= ENV["DOMAIN"] %>/rss.xml"></link>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/reader.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="logo">The Tangent</h1>
        </div>
      </div>

      <div class="row categories">
        <div class="category <%= opts[:home_active] ? 'active' : '' %>">
            <h5>
              <a href="/">
                Home
              </a>
            </h5>
        </div>

        <% categories.each do |category| %>
          <div class="category <%= opts[:active_category] == category.id ? 'active' : '' %>">
              <h5>
                <a href="/categories/<%= category.id %>">
                  <%= category.name %>
                </a>
              </h5>
          </div>
        <% end %>
        <div class="pull-right date">
          <h5><%= date.strftime("%e %B %Y") %><h5>
        </div>
      </div>

      <%= yield %>

      <div class="row">
        <div class="footer">
          <div class="footer-links">
            <div class="footer-link">
              <h5><a href="/about">About</a></h5>
            </div>
            <div class="footer-link">
              <h5><a href="mailto:lisasuzanneparr@gmail.com">Contact</a></h5>
            </div>
            <div class="footer-link">
              <h5><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licensing</a></h5>
            </div>
            <div class="footer-link">
              <h5><a href="http://twitter.com/tangent_news">Twitter</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
